<div class="container">
    <div class="row">
        <div class="col-md-4 md-margin-bottom-40">
            <!-- About -->
            <div class="headline"><h2>关于我们</h2></div>
            <p class="margin-bottom-25 md-margin-bottom-40">Unique 是一个致力于在喧嚣的环境中为你提供一个可以安静地书写个人日记并可以阅读他人生活经历的网络应用。</p>
            <p class="margin-bottom-25 md-margin-bottom-40">我们希望您可以通过使用 Unique 来抒发内心的焦虑，记录自己的心路历程，探索丰富多样生活。</p>
            <!-- End About -->
        </div><!--/col-md-4-->

        <div class="col-md-4 md-margin-bottom-40">
            <!-- Recent Blogs -->
            <div class="headline"><h2>最新动态</h2></div>
            <p class="margin-bottom-25 md-margin-bottom-40">
                我们昨天组建了团队，今天开发出了这个网站。 <br /><br />
                目前网站还处于起步阶段，我们欢迎各位大神加入我们。 <br /><br />
                Hackday愉快！ <br /><br />
            </p>
            <!-- End Recent Blogs -->
        </div><!--/col-md-4-->

        <div class="col-md-4">
            <!-- Contact Us -->
            <div class="headline"><h2>联系我们</h2></div>
            <address class="md-margin-bottom-40">
                地点：武汉市珞瑜路武汉大学 <br />
                电话：8000123456 <br />
                传真：8000123456 <br />
                邮箱：unique@qq.com <br />
            </address>
            <!-- End Contact Us -->
        </div><!--/col-md-4-->
    </div>
</div>
